<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <title>GPUStack</title>
    <options customize="never" rootVolumeOnly="true" require-scripts="false"/>
    <domains enable_anywhere="false" enable_currentUserHome="false" enable_localSystem="true"/>
    <options hostArchitectures="arm64"/>

    <choices-outline>
        <line choice="gpustackChoice"/>
    </choices-outline>

    <choice id="gpustackChoice" title="GPUStack" description="GPUStack installation package">
        <pkg-ref id="ai.gpustack.pkg"/>
    </choice>

    <pkg-ref id="ai.gpustack.pkg" version="${GIT_VERSION}" auth="Root">${PACKAGE_NAME}</pkg-ref>

    <installation-check script="InstallationCheck()"/>
    <script>
    function InstallationCheck() {
        return true;
    }
    </script>
</installer-gui-script>
